<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dbgenerate.impl.mapper.TDbSourceMapper">
    <resultMap id="BaseResultMap" type="com.dbgenerate.api.po.TDbSource">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="uid" jdbcType="INTEGER" property="uid"/>
        <result column="dbsourceName" jdbcType="VARCHAR" property="dbsourcename"/>
        <result column="dbsourceLinkurl" jdbcType="VARCHAR" property="dbsourcelinkurl"/>
        <result column="dbsourceUsername" jdbcType="VARCHAR" property="dbsourceusername"/>
        <result column="dbsourcePassword" jdbcType="VARCHAR" property="dbsourcepassword"/>
        <result column="dbsourceDriver" jdbcType="VARCHAR" property="dbsourcedriver"/>
        <result column="createTime" jdbcType="TIMESTAMP" property="createtime"/>
    </resultMap>
    <select id="selectUIDBySourceName" parameterType="com.dbgenerate.api.po.TDbSource" resultType="int">
        SELECT uid
        FROM t_db_source
        WHERE dbsourceName = #{dbsourcename,jdbcType=VARCHAR}
    </select>
    <select id="selectUIDBySourceLink" parameterType="com.dbgenerate.api.po.TDbSource" resultType="int">
        SELECT uid
        FROM t_db_source
        WHERE dbsourcelinkurl = #{dbsourcelinkurl,jdbcType=VARCHAR}
    </select>
</mapper>