<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ldg.impl.mapper.TApiparamsMapper">
  <resultMap id="BaseResultMap" type="com.ldg.api.po.TApiparams">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="uid" jdbcType="INTEGER" property="uid" />
    <result column="projectid" jdbcType="INTEGER" property="projectid" />
    <result column="apiid" jdbcType="INTEGER" property="apiid" />
    <result column="ptype" jdbcType="INTEGER" property="ptype" />
    <result column="paramname" jdbcType="VARCHAR" property="paramname" />
    <result column="paramtype" jdbcType="VARCHAR" property="paramtype" />
    <result column="parambeizhu" jdbcType="VARCHAR" property="parambeizhu" />
    <result column="paramrequired" jdbcType="VARCHAR" property="paramrequired" />
  </resultMap>
  <select id="getApiInfo" parameterType="com.ldg.api.vo.controllerparam.GetApiInfo" resultMap="BaseResultMap">
       select uid,ptype,paramname,paramtype,parambeizhu,paramrequired from t_apiparams where apiid=#{apiID} and projectid=#{projectid,jdbcType=VARCHAR}
  </select>
</mapper>