<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ldg.impl.mapper.TProjectapisMapper">
  <resultMap id="BaseResultMap" type="com.ldg.api.po.TProjectapis">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="uid" jdbcType="INTEGER" property="uid" />
    <result column="parentid" jdbcType="VARCHAR" property="parentid" />
    <result column="apititle" jdbcType="VARCHAR" property="apititle" />
    <result column="projectid" jdbcType="INTEGER" property="projectid" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="interfaceurl" jdbcType="VARCHAR" property="interfaceurl" />
    <result column="description" jdbcType="VARCHAR" property="description" />
  </resultMap>
    <select id="getApiTitlesDataByProjectId" resultMap="BaseResultMap">
    select uid,parentid,apititle,projectid,level from t_projectapis where projectid=#{projectid}
  </select>
  <select id="getTitleNameForsaveTreeHandler" parameterType="int" resultType="string">
      SELECT apititle from  t_projectapis where uid=#{uid}
  </select>
  <update id="updateTitleNameByPrimaryKey" parameterType="com.ldg.api.po.TProjectapis">
       update t_projectapis set apititle=#{apititle} where uid=#{uid}
  </update>
</mapper>